#remember-me {
    margin-left: 10px;
    padding-top: 5px;
}

#registrationForm {
    margin-top: 40px;
}

#blankDiv {
    height: 40px;
}

#login-form {
    margin-top: 40px;
}

#contactForm {
    margin-top: 40px;
}

.people {
    border: 5px solid #2C3E50;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

#filter {
    margin-top: 20px;
    margin-down: 20px;
}

#browseHtml {
    position: relative;
    min-height: 100%;
}

#browseBody {
    margin: 0 0 57px; /* bottom = footer height */
}

#bottom-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 57px;
    width: 100%;
}

#browseDetailsContainer {
    margin-top: 20px;
}

.languageSpan {
    font-weight: bold;
}

#description {
 text-align: justify;
}

#sendImagePic {
    max-height: 800px;
    margin: 20px;
}

#imageUploadForm {
    margin-left: 20px;
    margin-top: 10px;
    margin-down: 10px;
}

#languagesContainer {
    margin-top: 10px;
}

#learnerContainer {
    margin-top: 10px;
}

#teacherContainer {
    margin-top: 10px;
}

#writeContainer {
    margin-top: 10px;
}

.checkEmail {
    margin-top: 20px;
}

#descriptionContainer {
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

#changePasswordContainer {
    margin-top: 10px;
}

#loginButton {
    margin-top: 20px;
}

.here {
    font-weight: bold;
    font-style: italic;
}

#forgot {
    font-style: italic;
}

#forgetParagraph {
    margin-top: 15px;
}

#toRegister {
    font-style: italic;
}

#locationButton {
    margin-top: 10px;
}

#prefForm {
    margin-top: 10px;
}

#rateBtn {
    margin-top: 10px;
}

#rememberSpan {
    margin-right: 5px;
}

.rowItems {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rowDetails {
    margin-bottom: 15px;
}