<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title th:text="#{browse}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body id="browseBody">

<div th:replace="commonElements :: browseNavBar"></div>

    <div class="container" id="browseUsers">
        <form action="/browse" method="get">
            <div class="container" id="filter">
                <div class="row">
                    <div class="md-2">
                        <select name="sort" id="sort" class="custom-select">
                            <option value="dist_asc" th:text="#{dist_asc}"></option>
                            <option value="dist_desc" th:text="#{dist_desc}"></option>

                            <option value="star_asc" th:text="#{star_asc}"></option>
                            <option value="star_desc" th:text="#{star_desc}"></option>

                            <option value="name_asc" th:text="#{name_asc}"></option>
                            <option value="name_desc" th:text="#{name_desc}"></option>
                        </select>

                        <input hidden type="text" th:value="${searchWord}" name="searchWord" >
                    </div>
                    <div class="md-2">
                        <input type="submit" th:value="#{filter}"
                               class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2">
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div th:each="userResult : ${userResultList}" class="col-lg-3 col-md-6 people">

                <a th:href="${'/browse/' + userResult.id}">
                <img height="180" th:src="@{'data:image/jpg;base64,' + ${userResult.smallImage} }" />
                </a>

                <div id="firstAndLastName">
                    <span th:text="${userResult.firstName}"></span>
                    <span th:text="${userResult.lastName} "></span>
                    <span th:text="${#numbers.formatDecimal(userResult.averageStars,1,1)}"></span>
                    <span th:text="${userResult.numberOfPeopleWhoRatedTheUser}"></span>
                </div>

                <div id="genderAndAge">
                    <span th:text="${userResult.gender.genderName}"></span>
                    <span th:text="${userResult.age}"></span>
                    <span th:text=" #{years}"></span>
                </div>

                <span th:text="${#numbers.formatDecimal(userResult.distance,1,0)}"></span>
                <span> km</span>
                <div id="interests">
                <span th:text="${userResult.interestTeacher[0].name}"></span>
                <span   th:if="${userResult.interestTeacher.size() > 1 }">
                    <span th:text="#{and}"></span>
                    <span th:text="${userResult.interestTeacher.size() - 1}"></span>
                    <span th:text="#{more}"></span>
                </span>
                </div>


            </div>
        </div>

        <div class="row">
                <a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}"><span th:text="#{previous}"></span></a>
                <a th:href="${next}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}"><span th:text="#{next}"></span></a>
        </div>

    </div>


    <!--<a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}">Previous</a>-->
    <!--<a th:href="${next}" class="pull-right btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}">Next</a>-->

    <!--<div th:each="userResultInterest : ${userResult.interestTeacher}">-->
        <!--<span th:text="${userResultInterest.name}"></span>-->
    <!--</div>-->

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: bottom"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>