<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" id="browseHtml">
<head>
    <title th:text="#{details}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body id="browseBody">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container-fluid" th:object="${user}" id="browseDetailsContainer">
    <div class="row">

        <div class="col-md-4">
            <div>
            <img class="img-fluid" th:src="@{'data:image/jpg;base64,' + ${picture}}" />
            </div>

            <span th:each="language : *{languages}">
                <span th:text="${language.language}" class="languageSpan"></span>
                <span th:text="${language.proficiency}"></span>
            </span>

            <div id="description" th:text="*{description}">
                kpkadpokaspodkaokdpok adLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Intege

            </div>

            <div id="rateBtn">
            <form class="form-inline"  th:object="${star}" method="post" action="/star">

                <input hidden type="number" th:field="*{givenTo}">

                <select class="form-control" th:field="*{stars}">
                    <option th:value="-1"></option>
                    <option th:each="i : ${#numbers.sequence(1, 5)}"
                            th:value="${i}"
                            th:selected="${i} == *{stars}"
                            th:text="${i}">

                    </option>
                </select>


                <button class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" type="submit"><span th:text="#{rate}"></span></button>
            </form>
            </div>
        </div>

        <div class="col-md-8">

            <div>
                <h1>
                    <span th:text="*{firstName} "></span>
                    <span th:text="*{lastName} "></span>
                    <a class="btn btn-primary btn-outline-white" th:href="@{/write/{id}(id=*{id})}"><span th:text="#{contact}"></span></a>
                </h1>
            </div>


            <!--<div th:each="roleTeacher : *{interestTeacher}">-->
                <!--<span th:text="${roleTeacher.name}"></span>-->
                <!--<span th:text="${roleTeacher.levelOfKnowledge}"></span>-->
            <!--</div>-->
            <div class="row">
            <div class="col-md-5">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><span th:text="#{interest}"></span></th>
                        <th scope="col"><span th:text="#{level}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="roleTeacher : *{interestTeacher}">
                        <td scope="row" th:text="${roleTeacher.name}">Mark</td>
                        <td th:text="${roleTeacher.levelOfKnowledge}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-7">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><span th:text="#{interest}"></span></th>
                        <th scope="col"><span th:text="#{min.level}"></span></th>
                        <th scope="col"><span th:text="#{min.lang}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="roleLearner : *{interestLearner}">
                        <td scope="row" th:text="${roleLearner.interestName}">Mark</td>
                        <td th:text="${roleLearner.minimalLevel}">Otto</td>
                        <td th:text="${roleLearner.minimalLevelOfLanguage}">Otto</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>






        </div>
    </div>
</div>


<!--<a th:href="${previous}" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isTherePrevious}">Previous</a>-->
<!--<a th:href="${next}" class="pull-right btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" role="button" th:if="${isThereNext}">Next</a>-->

<!--<div th:each="userResultInterest : ${userResult.interestTeacher}">-->
<!--<span th:text="${userResultInterest.name}"></span>-->
<!--</div>-->

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: bottom"></div>


</body>
</html>