<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register.profilePicture}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: simpleNavBar"></div>


<img th:src="@{'data:image/jpg;base64,' + ${slika} }" />

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>


</body>
</html>