<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{changePassword.title}">Please sign in</title>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container" id="changePasswordContainer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <form class="form-signin" th:object="${changePasswordForm}" method="post" action="/changePassword" id="change-password-form">
                <h2 class="form-signin-heading" th:text="#{changePassword.title}">Custom sign in</h2>

                <div class="form-group">
                    <label for="password"  th:text="#{register.password}">Pasword</label>
                    <input th:errorclass="is-invalid" type="password" id="password" name="password" class="form-control" th:field="*{password}" required autofocus minlength="8">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                         class="invalid-feedback">Incorrect password
                    </div>
                </div>

                <div class="form-group">
                    <label for="repeatPassword"  th:text="#{register.repeatPassword}">Password</label>
                    <input th:errorclass="is-invalid" type="password" id="repeatPassword" name="repeatPassword" th:field="*{repeatPassword}" class="form-control" required minlength="8">
                    <div th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"
                         class="invalid-feedback">Incorrect password
                    </div>

                </div>


                <button th:text="#{changePassword.title}" class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
            </form>
        </div>
    </div>
</div>



<div th:replace="commonElements :: footer"></div>



</body></html>
