<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{image}">Please sign in</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div>
    <img id="sendImagePic" class="img-fluid" th:src="@{'data:image/jpg;base64,' + ${picture}}" />
</div>


<div id="imageUploadForm">
    <form method="post" enctype="multipart/form-data">
        <label class="btn btn-primary">
            <span th:text="#{choosePicture}"></span> <input hidden type="file" name="imageFile" accept="image/gif, image/jpeg">
        </label>
        <input type="submit" th:value="#{image.send}">
    </form>
</div>



<div th:replace="commonElements :: footer"></div>



</body></html>
