<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{languages}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container" id="languagesContainer">

    <form method="post" action="/language" th:object="${languageForm}">

        <div class="row rowDetails">
            <div class="col-md-4"><span th:text="#{language}"></span> </div>
            <div class="col-md-3"><span th:text="#{languageLevel}"></span></div>
        </div>

        <div class="row rowItems" th:each="language, stat : *{languages}">

            <div class="col-md-4">
                <select class="form-control custom-select" th:field="*{languages[__${stat.index}__].code}">
                    <option th:each="language : ${allLanguages}"
                            th:value="${language.code}"
                            th:selected="(${language.code} == *{languages[__${stat.index}__].code})"
                            th:text="${language.language}"></option>
                </select>
            </div>

            <div class="col-md-3">
                <select class="form-control custom-select" th:field="*{languages[__${stat.index}__].proficiency}">
                    <option th:value="-1"></option>
                    <option th:each="i : ${#numbers.sequence(1, 5)}"
                            th:value="${i}"
                            th:selected="${i} == *{languages[__${stat.index}__].proficiency}"
                            th:text="${i}"></option>
                </select>
            </div>

        </div>


        <button class="btn btn-primary" text="submitLearn" type="submit"><span th:text="#{save}"></span></button>

    </form>

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script type="text/javascript" th:inline="javascript">
    var map = /*[[${messages}]]*/ 'Messages';
    console.log(map);

</script>


</body>
</html>