<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{learner}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"}>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container" id="learnerContainer">

<form method="post" action="/learner" th:object="${learnerForm}">

    <div class="row rowDetails">
        <div class="col-md-4"><span th:text="#{interest}"></span> </div>
        <div class="col-md-3"> <span th:text="#{minLevel}"></span> </div>
        <div class="col-md-3"><span th:text="#{minLangLevel}"></span></div>
    </div>

    <div class="row rowItems" th:each="interest, stat : *{interests}">

        <div class="col-md-4">
        <select class="form-control custom-select" th:field="*{interests[__${stat.index}__].interestId}">
            <option th:each="interest : ${allInterests}"
                    th:value="${interest.id}"
                    th:selected="(${interest.id} == *{interests[__${stat.index}__].interestId})"
                    th:text="${interest.name}"></option>
        </select>
        </div>

        <div class="col-md-3">
        <select class="form-control custom-select" th:field="*{interests[__${stat.index}__].minimalLevel}">
            <option th:each="i : ${#numbers.sequence(1, 5)}"
                    th:value="${i}"
                    th:selected="${i} == *{interests[__${stat.index}__].minimalLevel}"
                    th:text="${i}"></option>
        </select>
        </div>

        <div class="col-md-3">
        <select class="form-control custom-select" th:field="*{interests[__${stat.index}__].minimalLevelOfLanguage}">
            <option th:each="i : ${#numbers.sequence(1, 5)}"
                    th:value="${i}"
                    th:selected="${i} == *{interests[__${stat.index}__].minimalLevelOfLanguage}"
                    th:text="${i}"></option>
        </select>
        </div>

    </div>


    <button class="btn btn-primary" text="submitLearn" type="submit"><span th:text="#{save}"></span></button>

</form>

</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script type="text/javascript" th:inline="javascript">
    var map = /*[[${messages}]]*/ 'Messages';
    console.log(map);

</script>


</body>
</html>