<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{location.button}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" action="/location" id="locationForm" th:object="${locationForm}">

                <input type="hidden" th:field="*{latitude}">
                <input type="hidden" th:field="*{longitude}">

                <button id="locationButton" th:text="#{location.button}" class="btn btn-lg btn-primary btn-block" type="submit">Send your
                    message
                </button>

            </form>
        </div>
    </div>
</div>

</button>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>

<script type="text/javascript" th:inline="javascript">
        var map = /*[[${messages}]]*/ 'Messages';

window.onload =  function getLocation() {
         if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(showPosition, showError);
  }
};

function showPosition(position) {
  document.getElementById("latitude").value = position.coords.latitude;
  document.getElementById("longitude").value = position.coords.longitude;
}

function showError(error, error2) {
  window.localStorage.setItem("geolocation", "error");
  switch(error.code) {
    case error.PERMISSION_DENIED:
      alert(map["javascript.userDeniedAccess"]);
      break;
  }
}


</script>


</body>
</html>