<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.title}">Please sign in</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: simpleNavBar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <form class="form-signin" method="post" action="/login" id="login-form">
                <h2 class="form-signin-heading" th:text="#{login.title}">Custom sign in</h2>
                <div th:if="${(param.error != null)}" class="container-fluid alert alert-danger" role="alert">
                    <span th:text="#{login.error}"></span>
                </div>
                <p>
                    <label for="password" class="sr-only">Username</label>
                    <input type="text" id="password" name="username" class="form-control" th:placeholder="#{login.placeholder.username}" required autofocus>
                </p>
                <p>
                    <label for="repeatPassword" class="sr-only">Password</label>
                    <input type="password" id="repeatPassword" name="password" class="form-control" th:placeholder="#{login.placeholder.password}" required>
                </p>

                <span id="rememberSpan" th:text="#{remember}"></span><input type="checkbox" name="remember-me" />

                <p id="forgetParagraph"><span id="forgot" th:text="#{forgot}"></span>
                    <a href="/forget">
                    <span class="here" th:text="#{here}"></span>
                    </a>
                </p>

                <p id="registerParagraph"><span id="toRegister" th:text="#{toRegister}"></span>
                    <a href="/register">
                        <span class="here" th:text="#{here}"></span>
                    </a>
                </p>


                <button id="loginButton" th:text="#{login.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
             </form>
        </div>
    </div>
</div>



<div th:replace="commonElements :: footer"></div>



</body></html>
