<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{browsePreferences}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: browseNavBar"></div>

<div class="container" id="prefForm">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form method="post" th:object="${preferenceForm}" action="/preference">

                <div class="form-group">
                    <label th:for="${#vars.getVariable('*{minAge}')}"
                    th:text="#{minAge}">Email</label>
                    <input class="form-control" type="number" min="13" max="99" th:field="*{minAge}"
                    value="13">
                </div>

                <div class="form-group">
                    <label th:for="${#vars.getVariable('*{maxAge}')}"
                    th:text="#{maxAge}">Email</label>
                    <input class="form-control" type="number" min="13" max="99" th:field="*{maxAge}">
                </div>

                <div class="form-group">
                    <label th:for="maxDistance" th:text="#{maxDist}">Email</label>
                    <input class="form-control" type="number" min="1" max="500" th:field="*{maxDistance}" value="200">
                </div>

                <button th:text="#{preference.button}" class="btn btn-lg btn-primary btn-block" type="submit">Send your message
                </button>

            </form>
        </div>
    </div>
</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>


</body>
</html>