<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{contact}">Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/main.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="commonElements :: simpleNavBar"></div>

<div class="container" id="writeContainer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <form action="/write" method="post" id="writeForm" th:object="${writeForm}">
                <!--<p th:text="#{register.firstName}"></p><input type="text" th:field="*{firstName}" th:errorclass="fieldError">-->

                <div class="form-group">
                    <textarea class="form-control" th:field="*{message}" rows="20" th:placeholder="#{contact.message}"></textarea>
                </div>

                <input hidden type="number" th:field="*{userId}">


                <button th:text="#{contact.button}" class="btn btn-lg btn-primary btn-block" type="submit">Send your message
                </button>

            </form>
        </div>
    </div>
</div>

<div id="blankDiv"></div>
<div th:replace="commonElements :: footer"></div>


</body>
</html>